.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 50px 0 40px 0;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 12px;
}

.logo-container h1 {
    margin-top: 12px;
    color: #0CC0DF;
    text-shadow: #2e2e2e 3px 3px 3px;
}


.infos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.infos select {
    width: 120px;
    height: 30px;
    margin-right: 8px;
}

.infos input {
    width: 120px;
    height: 30px;
    padding-left: 4px;
    border: none;
    border-bottom: solid 2px #0CC0DF;
    outline: none;
    margin: 0 22px;
}

.error-message {
    font-size: 14px;
    margin-top: 22px;
}

.infos button {
    width: 120px;
    height: 30px;
    background-color: #12b0cc;
    border-radius: 4px;
    color: #FFF;
    border: none;
    cursor: pointer;
    transition: ease 0.3s;
}

.infos button:hover {
    background-color: #0CC0DF;
}

table {
    width: 98%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    max-width: 1120px;
    margin: 20px auto;
}

table thead {
    width: 100%;
}

table tr th {
    color: #000;
    width: 100%;
    min-width: 100px;
    height: 30px;
    padding: 0 22px;
}

table tr td {
    width: 100%;
    min-width: 130px;
    height: 30px;
    text-align: center;
    padding: 12px 0;
    word-break: break-all;
    font-size: 14px;
}

.icon-delete {
    color: rgb(190, 67, 67);
    cursor: pointer;
}